/* SITE HEADER */
.site-header {
    display: flex;
    background-color: #252424;
    font-family: 'Courier New', Courier, monospace;
    color:floralwhite;
    justify-content: space-between;
    font-size: 16px;
    align-items: center;
    padding: 20px 30px;
}
.site-header .nav {
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0px;
}

.site-header .nav li:not(:last-child) {
    margin-right: 20px; 
    margin-top: 10px; 
    justify-content: center; 
    align-items: center;  
}

.site-header .nav a {
    text-decoration: none;
    margin-top: 10px;
}

.site-header .nav .button {
    min-width: 0;
    padding: 20px 60px;
    margin-top: 10px;
    margin-right: 10px;
    position:center;
}

/* BOUTON */
.button {
    background: floralwhite;
    border-radius: 5px;
    padding: 20px 0;
    color: #252424;
    display: inline-block;
    text-decoration: none;
    min-width: 100px;
    text-align: center;
}

/* CARD BLOG */
/* .card-blog .card__img {padding-top: 100%; position: relative;overflow: hidden;} */

.card-blog .card__img img {
    max-width: 100%;
    border-radius: 4px 4px 0px 0px;
    
}
.card-blog .card__desc {
    padding: 24px;
    background-color:floralwhite;
    text-align: center;
    font-size: 20px;
    border: thick double #252424;
    border-radius: 0px 0px 4px 4px;
}   
.card-blog .desc__title {
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 25px;
    
}



/* SITE FOOTER */
.site-footer {
    display: flex;
    background-color: #252424;
    font-family: 'Courier New', Courier, monospace;
    color:floralwhite;
    justify-content: space-between;
    font-size: 16px;
    align-items: center;
    padding: 20px 30px;
}
.site-footer .nav {
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0px;
}

.site-footer .nav li:not(:last-child) {
    margin-right: 30px; 
    margin-top: 10px;      
}

.site-footer .nav a {
    text-decoration: none;
    margin-top: 10px;
}

.site-footer .nav .button {
    min-width: 0;
    padding: 20px 80px;
    margin-top: 10px;
    margin-right: 20px;
    position:center;
}
