a {color: inherit;}

.collections {
  
  padding: 20px 20px 20px 20px;
  font-size: 40px; 
  font-family: 'Della Respira', serif;
}

.collections-title {
  margin-bottom: 40px;
  text-align: center;
  background-size: auto auto;
  text-align: center;
  background-size: auto auto;
  color:#252424;
  padding: 20px 20px;
}
.collections .flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 10px;
  justify-content: space-between;
}
.collections .flex .card-blog {
  width: 260px;
  height: auto;
  padding: 10px 10px;
  margin-bottom: 10%;
}


.description {
  margin-bottom: 40px;
  text-align: justify;
  background-size: auto auto;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 25px;
  background-size: auto auto;
  padding: 20px 20px;
}

.footext {
  background-size: auto auto;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 20px;
  background-size: auto auto;
  padding: 10px 10px;
}