---
layout: layouts/base.njk
---

<div class='collections'>
  <h1 class='collections-title'>About</h1>
  <h2 class='description'>Graphiste marseillaise, webdesigner, spécialiste en stratégie digital… </br>à votre disposition pour amener vos projets au sommet ! </br></br>Vous pouvez me contacter par mail à cette adresse : </br>sacchero.nina@gmail.com</h1>

  {% import "components/button.njk" as button %}
  {% import "components/card-blog.njk" as cardBlog %}


  
</div>