---
layout: layouts/base.njk
---

<div class='collections'>
  <h1 class='collections-title'>Work</h1>
  {% import "components/button.njk" as button %}
  {% import "components/card-blog.njk" as cardBlog %}

  <div class='flex'>
    {{ cardBlog.show('Dataviz', 'doc.jpg') }}
    {{ cardBlog.show('Dataviz', 'VIZGAME.jpg') }}
    {{ cardBlog.show('Edition', 'lightforce.jpg') }}
    {{ cardBlog.show('Brand identity', 'affichenoires.png') }}
    {{ cardBlog.show('Poster', 'marganevilla.jpg') }}
    {{ cardBlog.show('Photographie', 'marie.jpg') }}
    {{ cardBlog.show('Advertising', 'Coin.jpg') }}
    {{ cardBlog.show('Advertising', 'duralex.jpg') }}
    {{ cardBlog.show('Website', 'ACTORAL.jpg') }}
    {{ cardBlog.show('Photographie', 'skull.jpg') }}
    
  </div>
  
</div>