---
layout: layouts/base.njk
---

<div class='collections'>
  <h1 class='collections-title'>Collections</h1>
  
  {% import "components/button.njk" as button %}
  {% import "components/card-blog.njk" as cardBlog %}

  {{ button.show('plop') }}
  {{ button.show('test') }}
  {{ button.show('test 2') }}
 ​​​​​

  <div class='flex'>
   {{ cardBlog.show('titre', 'see more') }}
  </div>
  
</div>