{% macro show(title, img) %}
    <div class='card-blog'>
        <div class='card__img'>
            <img src='img/{{img}}' />
        </div>
        <div class='card__desc'>
            <h2 class='desc__title'>{{ title }}</h2>
            <a class='cta cta--seemore'>{{ cta }} +</a>
        </div>
    </div>
{% endmacro %}